@media(max-width: 620px){
    .pokemon-slider{
        padding: 0 15px;
        gap: 10px;
    }

    .pokemon-slider .btn-arrow{
        width: 20px;
        height: 20px;
        padding: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pokemon-slider .pokemons-list{
        height: 480px; 
    }

    .card .pokemon-image{
        max-height: 230px;
    }

    .card .pokemon-name{
        max-width: 50%;
        font-size: 18px;
    }

    .card .hp{
        font-size: 14px;
    }
}

@media(max-width: 376px){
    .pokemon-slider .pokemons-list{
        height: 400px; 
    }

    .card .pokemon-image{
        max-height: 200px;
    }

    .card .description .text{
        font-size: 1.2rem;
        padding: 1.2rem;
        max-height: 8.8rem;
    }
}

@media(max-width: 321px){
    .pokemon-slider .pokemons-list{
        height: 320px; 
    }

    .card .informations{
        padding: 0.4rem 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .card .pokemon-image{
        max-height: 180px;
    }

    .card .description .title{
        font-size: 1.5rem;
        padding: 0.8rem;
    }

    .card .description .text{
        font-size: 1.2rem;
        padding: 1rem;
        max-height: 4rem;
    }
}